
*{

    padding: 0px;
    
    margin: 0px;
    
    }
    
    
    
    
    body{
    
        background-image: url("jpg");    
    background-repeat: no-repeat;
    
    }
   .FondoSociales{
    
        background-image: url(".jpg");    
    background-repeat: no-repeat;
    
    }
    
    .FondoMatematicas{
    
        background-image: url("fondomate.jpg");    
    background-repeat: no-repeat;
    
    }
    
    .FondoBiologia{
    
        background-image: url("fondobiologia.jpg");    
    background-repeat: no-repeat;
    
    }

    .img{
    
    position: relative;
    
     
    
    width: 190px;
    
    height: 190px;
    
    border-radius: 10px;
    
    background-repeat: no-repeat;
    
     
    
    left: 180px;
    
    background-image: url("medellin.jpeg");
    
    }
    
    .contenedor{
    
     
    
    height: 230px;
    
     
    
    }
    
    .texto{
    
    font-size: 40px;
    
    text-align: justify;
    
    color: brown;
    
     
    
    }
    .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
        
         
        
        }
        
        .imagentecnolo{
        
         
        
            background-repeat: no-repeat;
            
            float:left;
            
            height: 320px;
            
            width: 380px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("circuitos.jpg");
             
        }

        .imagentecno{
        
         
        
        background-repeat: no-repeat;
        
        float:left;
        
        height: 320px;
        
        width: 380px;
        
        margin-left: 5px;
        
        margin-right:5px;
        
        background-image: url("tecnologia.jpg");
        
        }
        
        .textotecnolo{
        
            text-align: justify;
            
            color: aliceblue;
            
            font-size: 25px;
            
            
            
          } 
        
        
        .textotecno{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
      } 
        
      .contenido{

        height: 280px;
        
        width: 100%;
        
        position: absolute;
        
        top: 410px;
         
        
        }
        
        
        .textomate{
        
        text-align: justify;
        
        color: azure;
        
        font-size: 20px;
        
        
        
        }

        .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 270px;
            
             
            
            }
            
             
            
            .imagenbiolo{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 200px;
            
            width: 260px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("genetica.jpg");
            
            }
            
            
            
            .textobiolo{
            
            text-align: justify;
            
            color: lime;
           
            font-size: 25px;
            
            
            
          } 

          .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 270px;
            
             
            
            }
            
             
            
            .imagensoci{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 350px;
            
            width: 380px;
            
            margin-left:  5px;
            
            margin-right:5px;
            
            background-image: url("sociales.jpg");
            
            }
            
            
            .textosoci{
            
            text-align: justify;
            
            color: lime;
           
            font-size: 25px;
            
            
            
          } 
          .contenido{

            height: 280px;
            
            width: 100%;
            
            position: absolute;
            
            top: 310px;
            
             
            
            }
            
            .imagenreligi{
            
             
            
                background-repeat: no-repeat;
                
                float:left;
                
                height: 320px;
                
                width: 380px;
                
                margin-left: 5px;
                
                margin-right:5px;
                
                background-image: url("hindu.jpg");
                 
            }
    
            .imagenreli{
            
             
            
            background-repeat: no-repeat;
            
            float:left;
            
            height: 220px;
            
            width: 280px;
            
            margin-left: 5px;
            
            margin-right:5px;
            
            background-image: url("hinduismo.jpg");
            
            }
            
            .textoreli{
            
                text-align: justify;
                
                color: black;
                
                font-size: 25px;
                
                
                
              } 